<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NorthwindDAL.Properties.Settings.NorthwindConnectionString" connectionString="data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Northwind.mdf;integrated security=True;user instance=True" providerName="System.Data.SqlClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Northwind.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NorthwindConnection" connectionString="data source=.\SQLEXPRESS;attachdbfilename=&quot;|DataDirectory|\Northwind.mdf&quot;;integrated security=True;user instance=True" providerName="System.Data.SqlClient" />
    <add name="NorthwindConnection1" connectionString="data source=.\SQLEXPRESS;attachdbfilename=&quot|DataDirectory|\Northwind.mdff&quot;;integrated security=True;user instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>