<?xml version="1.0"?>
<!--
For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
	<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	<add name="NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	<add name="NorthwindConnection" connectionString="data source=.\SQLEXPRESS;attachdbfilename=&quot;|DataDirectory|\Northwind.mdf&quot;;integrated security=True;user instance=True" providerName="System.Data.SqlClient"/>
	<add name="NorthwindDAL.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;&#xA;   AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	<add name="NorthwindEntities" connectionString="metadata=res://*/NorthwindEntities.csdl|res://*/NorthwindEntities.ssdl|res://*/NorthwindEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Northwind.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="NorthwindConnection1" connectionString="data source=.\SQLEXPRESS;attachdbfilename=&quot;|DataDirectory|\Northwind.mdf&quot;;integrated security=True;user instance=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	<compilation debug="true" targetFramework="4.0">
	  <assemblies>
		<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
		<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
	  </assemblies>
	</compilation>
	<authentication mode="Forms">
	  <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
	</authentication>
	<membership>
	  <providers>
		<clear/>
		<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
	  </providers>
	</membership>
	<pages>
	  <controls>
		<add assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagPrefix="telerik"/>
	  </controls>
	</pages>
	<profile>
	  <providers>
		<clear/>
		<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
	  </providers>
	</profile>
	<roleManager enabled="false">
	  <providers>
		<clear/>
		<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
		<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
	  </providers>
	</roleManager>
	<httpHandlers>
	  <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
	</httpHandlers>
  </system.web>
  <system.webServer>
	<modules runAllManagedModulesForAllRequests="true"/>
	<validation validateIntegratedModeConfiguration="false"/>
	<handlers>
	  <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
	</handlers>
  </system.webServer>
</configuration>