/* <RadMenu / Vista> */

.RadMenu_Vista .rmRootGroup,
.RadMenu_Vista .rmFirst,
.RadMenu_Vista a.rmLink,
.RadMenu_Vista .rmText,
.RadMenu_Vista .rmLeftArrow,
.RadMenu_Vista .rmRightArrow,
.RadMenu_Vista .rmTopArrow,
.RadMenu_Vista .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Vista .rmRootGroup
{
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: transparent;
}

/*.RadMenu_Vista .rmFirst
{
	background-position: 0 -24px;
} */

.RadMenu_Vista .rmVertical .rmFirst,
.RadMenu_Vista .rmVertical .rmLast
{
	background: none;
	padding: 0;
}

.RadMenu_Vista .rmHorizontal .rmItem {
    margin-right: 1px;
}

.RadMenu_Vista .rmHorizontal .rmLast {
    margin-right: 0;
}


/* <Root items> */

.RadMenu_Vista,
.RadMenu_Vista a.rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #000;
	text-decoration: none;
}

.RadMenu_Vista a.rmLink
{
	background-position: 0 0;
	background-repeat: no-repeat;
}

.RadMenu_Vista .rmText 
{
    background-position: 100% -31px;
	background-repeat: no-repeat;
}

.RadMenu_Vista a.rmLink:hover,
.RadMenu_Vista a.rmFocused,
.RadMenu_Vista a.rmSelected, 
.RadMenu_Vista a.rmExpanded,
.RadMenu_Vista a.rmExpanded:hover
{
	background-position: 0 -60px;
}

.RadMenu_Vista a.rmLink:hover .rmText,
.RadMenu_Vista a.rmFocused .rmText,
.RadMenu_Vista a.rmSelected .rmText, 
.RadMenu_Vista a.rmExpanded .rmText,
.RadMenu_Vista a.rmExpanded:hover .rmText
{
	background-position: 100% -90px;
}

.RadMenu_Vista a.rmDisabled,
.RadMenu_Vista a.rmDisabled:hover
{
	color: #7d7d7d;
}

.RadMenu_Vista a.rmDisabled:hover,
.RadMenu_Vista a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Vista .rmGroup,
.RadMenu_Vista .rmMultiColumn,
.RadMenu_Vista .rmGroup .rmVertical
{
	border: 1px solid #979797;
	background: #f0f0f0 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_Vista .rmTopFix,
.RadMenu_Vista .rmBottomFix,
.RadMenu_Vista .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_Vista .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_Vista .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_Vista_Context.rmRoundedCorners .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

* html .rmRoundedCorners_Vista .rmGroup .rmItem
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #f0f0f0; 
	background-repeat: repeat-y;
	background-position: -3px 0;
}

.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Vista .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_Vista .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_Vista .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_Vista_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Vista .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_Vista .rmScrollWrap .rmItem,
* html .rmRoundedCorners_Vista .rmHorizontal .rmItem,
* html .rmRoundedCorners_Vista .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_Vista .rmRoundedCorners .rmGroupColumn
{
	background-color: #f0f0f0;
}

.RadMenu_Vista .rmBottomLeft,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Vista_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_Vista .rmRoundedCorners ul.rmGroup,
.RadMenu_Vista .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Vista .rmScrollWrapContainer,
* html .rmRoundedCorners_Vista .rmGroup ul.rmGroup,
* html .rmRoundedCorners_Vista ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Vista .rmTopRight,
.RadMenu_Vista .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_Vista .rmTopFix,
.RadMenu_Vista .rmBottomFix,
.RadMenu_Vista .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_Vista_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_Vista .rmGroup .rmFirst
{
	border-color: #979797;
}

.RadMenu_Vista li.rmTopFix,
.RadMenu_Vista li.rmBottomFix
{
	background: #f0f0f0;
}

.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

* html .rmRoundedCorners_Vista .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_Vista .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_Vista .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_Vista .rmScrollWrapContainer .rmRightArrow
{
	background-color: #f0f0f0;
	border: 0;
}

.RadMenu_Vista_rtl .rmBottomLeft,
.RadMenu_Vista_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_Vista_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_Vista .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_Vista_Context_rtl ul.rmGroup,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_Vista_rtl .rmTopRight,
.RadMenu_Vista_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_Vista_rtl li.rmTopFix,
.RadMenu_Vista_rtl li.rmBottomFix,
.RadMenu_Vista_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_Vista_Context_rtl ul.rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_Vista .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Vista_rtl .rmGroup,
.RadMenu_Vista_rtl .rmMultiColumn,
.RadMenu_Vista_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_Vista .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Vista .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Vista .rmGroup .rmFirst,
.RadMenu_Vista .rmGroup .rmLast,
.RadMenu_Vista .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_Vista_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_Vista .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_Vista .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Vista .rmGroup a.rmLink:hover,
.RadMenu_Vista .rmGroup a.rmFocused,
.RadMenu_Vista .rmGroup a.rmSelected,
.RadMenu_Vista .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Vista .rmGroup a.rmLink:hover .rmText,
.RadMenu_Vista .rmGroup a.rmFocused .rmText,
.RadMenu_Vista .rmGroup a.rmSelected .rmText,
.RadMenu_Vista .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_Vista .rmRootGroup .rmExpandRight,
.RadMenu_Vista .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Vista a.rmLink:hover .rmExpandRight,
.RadMenu_Vista a.rmFocused .rmExpandRight,
.RadMenu_Vista a.rmExpanded .rmExpandRight,
.RadMenu_Vista a.rmSelected .rmExpandRight,
.RadMenu_Vista a.rmLink:hover .rmExpandLeft,
.RadMenu_Vista a.rmFocused .rmExpandLeft,
.RadMenu_Vista a.rmExpanded .rmExpandLeft,
.RadMenu_Vista a.rmSelected .rmExpandLeft
{
    background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_Vista a.rmLink:hover .rmExpandRight,
.RadMenu_Vista a.rmSelected .rmExpandRight,
.RadMenu_Vista a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_Vista a.rmExpanded .rmExpandRight,
.RadMenu_Vista a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_Vista .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_Vista .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_Vista .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_Vista .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_Vista .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_Vista .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_Vista .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_Vista .rmGroup a.rmExpanded .rmExpandDown
{
    background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_Vista .rmRootGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_Vista .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Vista_rtl a.rmLink:hover,
.RadMenu_Vista_rtl a.rmFocused,
.RadMenu_Vista_rtl a.rmSelected
{
    background-position: 100% -96px;
}

.RadMenu_Vista_rtl a.rmLink:hover .rmText,
.RadMenu_Vista_rtl a.rmFocused .rmText,
.RadMenu_Vista_rtl a.rmSelected .rmText
{
    background-position: 0 -72px;
}

.RadMenu_Vista_rtl a.rmExpanded,
.RadMenu_Vista_rtl a.rmExpanded:hover
{
    background-position: 100% -144px;
}

.RadMenu_Vista_rtl a.rmExpanded .rmText,
.RadMenu_Vista_rtl a.rmExpanded:hover .rmText
{
    background-position: 0 -120px;
}

.RadMenu_Vista_rtl .rmGroup a.rmLink:hover,
.RadMenu_Vista_rtl .rmGroup a.rmFocused,
.RadMenu_Vista_rtl .rmGroup a.rmSelected,
.RadMenu_Vista_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Vista_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_Vista_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_Vista_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_Vista_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Vista_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Vista_rtl a.rmLink:hover .rmExpandLeft,
.RadMenu_Vista_rtl a.rmSelected .rmExpandLeft,
.RadMenu_Vista_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_Vista_rtl a.rmExpanded .rmExpandLeft,
.RadMenu_Vista_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_Vista_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_Vista_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_Vista_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_Vista_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_Vista_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
    background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Vista - specific, overlapping submenus)> */

.RadMenu_Vista .rmSlide
{
	margin: 0;
}

.RadMenu_Vista .rmVertical .rmSlide,
.RadMenu_Vista .rmSlide .rmSlide,
.RadMenu_Vista_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Vista_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_Vista_rtl .rmVertical .rmSlide,
.RadMenu_Vista_rtl .rmSlide .rmSlide,
.RadMenu_Vista_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Vista .rmLeftArrow,
.RadMenu_Vista .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_Vista .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_Vista .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_Vista .rmTopArrow,
.RadMenu_Vista .rmBottomArrow,
.RadMenu_Vista .rmGroup .rmLeftArrow,
.RadMenu_Vista .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_Vista .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_Vista .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Vista .rmVertical .rmSeparator .rmText,
.RadMenu_Vista .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Vista .rmHorizontal .rmSeparator .rmText,
.RadMenu_Vista .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Vista> */
